In [50]:
import pandas as pd
import re

In [6]:
with open('hastags.txt','r') as f:
    hashtags = f.readlines()

In [7]:
len(hashtags)

565

In [9]:
hashtags[:5]

['1. #Love - love\n',
 '2. #InstaGood - insta, good\n',
 '3. #PhotoOfTheDay - photo, day\n',
 '4. #Fashion - fashion\n',
 '5. #Beautiful - beautiful\n']

In [52]:
data = pd.DataFrame(hashtags)
data.rename(columns = {0:'Original Hashtags'},inplace=True)

In [53]:
data.head()

                  Original Hashtags
0                 1. #Love - love\n
1     2. #InstaGood - insta, good\n
2  3. #PhotoOfTheDay - photo, day\n
3           4. #Fashion - fashion\n
4       5. #Beautiful - beautiful\n

In [81]:
def clean_text(text):
    text = re.sub(r'^.*?#', '#', text)
    text = re.sub(r'\s','',text)
    hashtag, words = text.split("-")
    words = words.split(',')
    return hashtag, words

In [84]:
data[['Hashtag', 'Words']] = pd.DataFrame(data['Original Hashtags'].apply(clean_text).tolist())

In [85]:
data

,Original Hashtags,Hashtag,Words
0,1. #Love - love\n,#Love,[love]
1,"2. #InstaGood - insta, good\n",#InstaGood,"[insta, good]"
2,"3. #PhotoOfTheDay - photo, day\n",#PhotoOfTheDay,"[photo, day]"
3,4. #Fashion - fashion\n,#Fashion,[fashion]
4,5. #Beautiful - beautiful\n,#Beautiful,[beautiful]
...,...,...,...
560,"361. #FoodieDelight - foodie, delight\n",#FoodieDelight,"[foodie, delight]"
561,"362. #TravelPhotography - travel, photography\n",#TravelPhotography,"[travel, photography]"
562,"363. #FitnessChallenge - fitness, challenge\n",#FitnessChallenge,"[fitness, challenge]"
563,"364. #StyleStatement - style, statement\n",#StyleStatement,"[style, statement]"
564,"365. #SelfieQueen - selfie, queen",#SelfieQueen,"[selfie, queen]"

In [86]:
data = data.drop_duplicates(subset='Hashtag', keep='first')

In [87]:
data

,Original Hashtags,Hashtag,Words
0,1. #Love - love\n,#Love,[love]
1,"2. #InstaGood - insta, good\n",#InstaGood,"[insta, good]"
2,"3. #PhotoOfTheDay - photo, day\n",#PhotoOfTheDay,"[photo, day]"
3,4. #Fashion - fashion\n,#Fashion,[fashion]
4,5. #Beautiful - beautiful\n,#Beautiful,[beautiful]
...,...,...,...
323,"124. #FamilyVacation - family, vacation\n",#FamilyVacation,"[family, vacation]"
324,"125. #AdventureBound - adventure, bound\n",#AdventureBound,"[adventure, bound]"
325,"126. #MotivationalQuotes - motivational, quote\n",#MotivationalQuotes,"[motivational, quote]"
326,"127. #FashionAddict - fashion, addict\n",#FashionAddict,"[fashion, addict]"
327,"128. #FoodLover - food, lover\n",#FoodLover,"[food, lover]"

In [88]:
data.to_csv('hashtag_vocab.csv',index=False)